@import './variables';

body{
  font-family: 'Hind Siliguri', sans-serif;
  color: $primary;
  -webkit-font-smoothing: antialiased;
  background-color:  $secondary;
}
nav{
  
  color: $dark;
}

.card{
  // border: 2px solid black;
  background-color: $temp;
  color: $pure;
}


.btn-add-cart{
  background: $secondary;
  color: $primary;
  transition: $smooth;
  border: 2px solid $secondary;

  &:hover{
    background: $dark;
    color: $pure;
    border: 2px solid $pure;
  }
  &:focus{
    outline: none;
  }
}

.btn-go-back{
  color: $primary;
  border: solid 2px $temp;
  
  &:hover{
    background: $dark;
    color: $pure;
    border: 2px solid $pure;
    transition: $smooth;

  }
}

// Drop down

.dropdown-menu li {
  background-color: $pure;
  color: $temp;
  
  &:hover{
    background-color: $dark;
    color: $pure;
    transition: $smooth;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.cartCounter{
  color: $primary;
  border: solid 2px $temp;
  
  &:hover{
    background: $dark;
    color: $pure;
    border: 2px solid $pure;
    transition: $smooth;
  }
}

.cartCounter img {
  padding-right: 10px;
}

.cartCounter span{
  padding-left: 20px;
  padding-right: 10px;
}

//login
.login-form{
  
}

//file upload btn

.fileUpload::file-selector-button {

  background: $secondary;
  color: $primary;
  transition: $smooth;
  border: 2px solid $dark;
  border-radius: 10%;

  &:hover{
    border-radius: 10%;
    background: $dark;
    color: $pure;
    border: 2px solid $pure;
  }
  &:focus{
    outline: none;
  }

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


.step-completed span::after {
  font-family: "Line Awesome Free";
  font-size: 30px;
  font-weight: 600;
  content: '\f560';
}

.current span::after{
  font-family: "Line Awesome Free";
  font-size: 30px;
  font-weight: 600;
  content: '\f70c';
}