<section id="upload-book">

  <div class="upload-book-form mt-10 rounded-xl border-4 border-blue-500  m-10">
    <div class="bg-white shadow w-full rounded-lg divide-y divide-gray-200">

      <!-- FORM -->
      <form action="/seller/upload-book" method="POST" class="px-5 py-7" enctype="multipart/form-data">
        <% if(messages.error){ %>
          <span class="text-red-500 text-sm">
            <%= messages.error %>
          </span>
          <% } %>

            <label class="font-bold text-lg text-gray-600 pb-1 block">Book name</label>
            <input name="bookName" type="text" value="<%= messages.bookName  %> "
              class="rounded-lg border-4 border-blue-500 px-3 py-2 mt-1 mb-5 text-xl w-full" />

            <label class="font-bold text-lg text-gray-600 pb-1 block">Description</label>
            <textarea name="description" rows="3" cols="33"
              class="rounded-lg border-4 border-blue-500 px-3 py-2 mt-1 mb-5 text-xl w-full"></textarea>

            <label class="font-bold text-lg text-gray-600 pb-1 block">Tags</label>
            <input name="tags" type="text" value="<%= messages.tags  %> "
              class="rounded-lg border-4 border-blue-500 px-3 py-2 mt-1 mb-5 text-xl w-full" />

            <label class="font-bold text-lg text-gray-600 pb-1 block">Image</label>
            <input name="file-to-upload" type="file" class="fileUpload rounded-lg border-4 border-blue-500 px-3 py-2 mt-1 mb-5 text-xl w-full " >
            

            <button type="submit"
              class="btn-go-back text-center inline-block font-bold text-lg btn-primary  text-blue-700 w-full py-2.5 rounded-lg border-4 border-blue-500 text-sm shadow-sm ">
              <span class="inline-block mr-2 ">Upload</span>
            </button>
      </form>
      <!-- FORM END -->

    </div>

  </div>

</section>


<!-- 
  
  <form action="/profile" method="post" enctype="multipart/form-data">
  <input type="file" name="avatar" />
</form>


  
 -->